@media (max-width: 992px) {
    .container {
        width: 90%;
    }

    .header {
        padding: 20px 0;
    }

    .header .main-navgation .nav-buttons {
        display: none;
    }

    .header .main-navgation {
        flex-direction: column;
    }

    .hero {
        flex-direction: column-reverse;
        margin-left: 0;
        padding-bottom: 80px;
        row-gap: 60px;
    }

    .hero .hero-text h1 {
        font-size: 3em;
    }

    .hero .hero-text {
        max-width: 95%;
        min-width: 0;
        text-align: center;
    }

    .hero .hero-image {
        left: 0;
    }

    .contact_info {
        margin-bottom: 20px;
        width: 100%;
    }

    .contact_form {
        width: 100%;
    }

    .contact_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .header .logo {
        display: none;
    }

    .hero .hero-text h1 {
        font-size: 2em;
    }

    .hero .hero-text p {
        font-size: 15px;
    }

    .contact_info {
        flex-direction: column;
        align-items: start;
    }

    .products {
        margin-top: 50px;
        padding: 20px 0;
    }

    .products h2 {
        padding-bottom: 20px;
    }

    .contact_us>h2 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}